/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  -webkit-font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
          font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.55rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: .875rem; }

h6 {
  font-size: .6rem; }

caption {
  font-size: .875rem; }

@media screen and (max-width: 750px) {
  html {
    font-size: .95rem; } }

@media screen and (max-width: 700px) {
  html {
    font-size: .875rem; } }

@media screen and (max-width: 650px) {
  html {
    font-size: .8rem; } }

@media screen and (max-width: 600px) {
  html {
    font-size: .75rem; } }

@media screen and (max-width: 550px) {
  html {
    font-size: .7rem; } }

@media screen and (max-width: 500px) {
  html {
    font-size: .625rem; } }

@media screen and (max-width: 450px) {
  html {
    font-size: .55rem; } }

@media screen and (max-width: 400px) {
  html {
    font-size: .5rem; } }

html,
body {
  height: 100%;
  font-family: sans-serif; }

/* VARIABLES */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  height: 100%;
  background: grey url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
          background-size: cover; }

.header__line {
  height: 5rem;
  background: white; }

.header__logo {
  height: 5rem;
  margin-left: 1rem;
  position: absolute;
  left: 2rem;
  top: 0;
  background-color: red; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0; }

.header__nav-item {
  margin-left: 2rem; }

.header__nav-link, .header__nav-link--basket {
  display: block;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  padding: 7px 15px;
  text-transform: uppercase; }

.header__nav-link--basket {
  margin-right: 2rem; }

.header__nav-line {
  position: absolute;
  border-bottom: 4px solid transparent;
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px); }

.header__nav-line, .header__nav-link {
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }

.header__text {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: 700;
  padding: 3rem;
  line-height: 5rem; }

.about {
  background-color: #fff;
  position: relative; }

.about__text {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -60px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff; }

.about__text:before, .about__text:after {
  content: " ";
  position: absolute;
  top: -30px;
  width: 50%;
  border-bottom: 30px solid white; }

.about__text:before {
  left: 0;
  border-right: 20px solid transparent;
  border-left: 0; }

.about__text:after {
  right: 0;
  border-left: 20px solid transparent;
  border-right: 0; }

/* SHOP */
.card {
  display: inline-block;
  width: 30%;
  min-width: 300px;
  vertical-align: top;
  font-size: 1rem; }

.card__image {
  display: block;
  width: 300px;
  height: 300px; }

.card__name {
  color: red; }

.card__image1 {
  width: 100%; }
